 
 body{
/*               Got This gradient from here: https://cssgradient.io/gradient-backgrounds/
                
*/
     background: #f12711;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     height: 100vh;
     
}




.prev, .next {
              cursor: pointer;
/*
              position: absolute;
              top: 40%;
              width: auto;
              padding: 16px;
              margin-top: -50px;
*/
              color: black;
              font-weight: bold;
              font-size: 20px;
              border-radius: 0 3px 3px 0;
              user-select: none;
              -webkit-user-select: none;
              margin: 50px;
          
            }

.mySlides img {
    justify-content: center;
    
    max-height: 60rem;
    max-width: 60rem;
    margin: none;
    padding: none;
    
}
.mySlides {
    display: block;
    margin: auto;
     max-height: 70rem;
    max-width: 70rem;
    text-align: center;
     margin-top: 2rem;

   
  
}
.gallery {
   
    
}