 .prev, .next {
              cursor: pointer;
/*
              position: absolute;
              top: 40%;
              width: auto;
              padding: 16px;
              margin-top: -50px;
*/
              color: black;
              font-weight: bold;
              font-size: 20px;
              border-radius: 0 3px 3px 0;
              user-select: none;
              -webkit-user-select: none;
              margin: 50px;
          
            }

.mySlides img {
    display: block;
    margin: auto;
    max-height: 60rem;
    max-width: 60rem;
    
}
.mySlides {

}
.gallery {
    
    align-items: center;
    justify-content: center;
    max-width: 600px;
    max-height: 600px;
    
}